<!DOCTYPE html>
<html>
    <head>
        <title>MadLibs</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Hello, World!</h1>
            <p>Choose a story:</p>
              <p><a href="/monkeyspawform">The Monkey's Paw</a></p>
              <p><a href="/maninthebrowncoatform">The Man In The Brown Coat</a></p>
        </div>
    </body>
</html>
