<!DOCTYPE html>
<html>
    <head>
        <title>MadLibs</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    </head>
    <body>
        <div class="container">
            <h1><i><center>The Man In The Brown Coat</center></i></h1>

            <p>My @Model.GetNoun() is somewhere in this house where for hours now I have been @Model.GetVerb() and writing. She is a @Model.GetAdjective() woman with black hair, turning a little grey. Listen, she is going @Model.GetAdverb() up a flight of stairs. All day she goes softly about, doing the housework in our house.</p>
        </div>
    </body>
</html>
