<!DOCTYPE html>
<html>
    <head>
        <title>MadLibs</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    </head>
    <body>
        <div class="container">
            <form action="/monkeyspaw" method="post">

              <label for="noun">Noun</label>
              <input type="text" name="noun" id="noun">


              <label for="adjective">Adjective</label>
              <input type="text" name="adjective" id="adjective">


              <label for="verb">Verb</label>
              <input type="text" name="verb" id="verb">

              <label for="adverb">adverb</label>
              <input type="text" name="adverb" id="adverb">

              <button type="submit" name="button">Go to story</button>

            </form>
        </div>
    </body>
</html>
