<!DOCTYPE html>
<html>
    <head>
        <title>MadLibs</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <div class="container">
            <h1><i><center>The Monkey's Paw</center></i></h1>

            <p>Without, the @Model.GetNoun() was cold and @Model.GetAdjective(), but in the small parlour of Laburnum villa the blinds were @Model.GetVerb() and the fire burned @Model.GetAdverb(). Father and son were at chess; the former, who possessed ideas about the game involving radical chances, putting his king into such sharp and unnecessary perils that it even provoked comment from the white-haired old lady knitting placidly by the fire.</p>
        </div>
    </body>
</html>
